.clash-target{
	min-width: 256px;
	height: 50px;
	padding: 4px;
}

.name-clash{
	width: 99%;
}

.trigger-button {
	width: 98%;
	position: absolute;
	bottom: 0;
}

.hidden-data {
	visibility: hidden;
	font-size: 0px;
}

.clash-message{
	text-align: center;
}

.clash-winner {
	background-color: green
}

.clash-loser {
	background-color: red
}

img .chat-coin-img {
	border: none !important;
}
